.mainView {
  .profile {
    margin-top: 30px;
  }

  .name {
    color: $color-primary-highlight;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;

    .realname {
      font-size: 0.4em;
      font-weight: $font-weight-light;
    }
  }

  .project {
    margin-top: 70px;
  }
}
