// calc size of profile picture
@mixin calcHeaderImageSize($profile-size, $profile-pciture-padding, $profile-border-size) {
  width: $profile-size;
  height: $profile-size;
  border-radius: $profile-size * 2;
  border: $profile-border-size dashed $color-primary-highlight;

  img {
    width: $profile-size - $profile-pciture-padding;
    height: $profile-size - $profile-pciture-padding;
    margin-top: ($profile-pciture-padding / 2) - $profile-border-size;
    margin-left: ($profile-pciture-padding / 2) - $profile-border-size;
    border-radius: ($profile-size - $profile-pciture-padding) * 2;
  }
}
