.projects {

}

.project {
  padding-bottom: 40px;
  border-bottom: 1px dotted #000000;
  margin-top: 40px;
  margin-bottom: 40px;

  .screenshot img {
    width: 100%;
  }

  .description, .tags, .links {
    font-size: 18px;
    margin-bottom: 25px;
  }


  .tags {
    margin-top: 30px;

    @media(min-width: $screen-sm-min) {
      margin-top: 50px;
    }

    &:before {
      content: 'Tags:';
    }

    .tag {
      padding: 5px;
      text-decoration: none;
      font-size: 12px;

      background-color: #CCCCCC;
      color: white;
      border-radius: 5px;
    }
  }

  .links a {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.50);
    transition: box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: none;
    }
  }
}
