// Colors
$color-primary: #000000;
$color-primary-highlight: #000000;
$color-primary-highlight-text: #FFFFFF;

// Fonts
$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-regular: 400;
