// Colors
$color-page-background: #FFFFFF;
$color-primary: #000000;
$color-primary-highlight: #000000;
$color-primary-highlight-text: #FFFFFF;

$color-tags-background: #9C9A9A;
$color-tags-text: #FFFFFF;

// Fonts
$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-regular: 400;
