<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="theme-color" content="#000000">
  <meta name="author" content="Mischa Helfenstein">
  <meta name="description" content="Mischa Helfenstein | Student | Developer">

  <!-- Styles -->
  <link rel="stylesheet" href="styles/app.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Title -->
  <title>{{ .Title }}</title>
</head>
<body>
